@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-teal: #34AFB8;
  --color-gray: #f7f7f7;
  --color-dark-bg: #242424;
  --color-light-text: rgba(255, 255, 255, 0.87);
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: var(--font-family);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark-bg);
  color: var(--color-light-text);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--color-gray);
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
